@import "../../../variables";

.sidebar {
    height: 100%;
    background-color: $colorBrightGray;

    .sidebar-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .sidebar-button {
            position: relative;

            button {
                font-size: 1.5em;
                padding: 0.5em;

                &:hover {
                    background-color: $colorGray;
                }

                &:disabled {
                    background-color: $colorBrightGray;
                    cursor: inherit;

                    .icon path {
                        stroke: $colorGray;
                    }
                }
            }

            .button-label {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                padding: 0 0.5em;
                white-space: nowrap;
                background-color: #fcffea;
                border: 1px solid $colorGray;
                border-left: none;

                .icon {
                    margin-left: 0.5em;
                }

                .icon-loader {
                    animation: spin 2s infinite linear;
                }

                @keyframes spin {
                    from { transform: rotate(0deg); }
                    to { transform: rotate(360deg); }
                }
            }
        }

        .run-button {
            background-color: #689457;
        }
    }    
}