$fontFamily: Helvetica, Arial, sans-serif;

$contentWidth: 1200px;
$headerHeight: 60px;


// MEDIA WIDTH

$widthXXS: 479px;
$widthXS: 575px;
$widthSM: 767px;
$widthMD: 991px;
$widthLG: 1199px;


// Colors

$colorWhite: #fff;
$colorBrightGray: #eee;
$colorGray: #797979;
$colorBlack: #000;
$colorDarkBlue: #002290;

$colorHeader: #d0e2ff;
