@import "../../variables";

#header {
    flex-grow: 0 !important;
    font-size: 1.5em;
    background-color: $colorHeader;
    height: $headerHeight;
    
    .header-content {
        display: flex;
        height: 100%;
        align-items: stretch;

        & > * {
            padding: 0 1rem;
            line-height: $headerHeight;
        }

        .header-logo {
            font-size: 2rem;
            font-weight: 600;

            .md {
                color: $colorGray;
            }

            .to {
                padding: 0 2px;
            }

            .docx {
                color: $colorDarkBlue;
            }
        }

        .header-docs {

            .icon {
                margin-right: 0.25em;
            }
        }
    }
}